<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="featured">
  <h3>Featured</h3>
</div>

{% assign collectionHandles = 'delivery,pick-up' | split:',' %}
{% for customCollection in collectionHandles %}

  {% assign chosenCollection = collections[customCollection] %}

      {% for item in chosenCollection.products %}
        <p>{{ item.title }}</p>
      {% endfor %}

{% endfor %}
