<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="filters">
  <div class="pillFilter">
      <button class="button is-checked" data-filter="*">show all</button>
      <button class="button" data-filter=".metal">cupcakes</button>
      <button class="button" data-filter=".transition">pies</button>
      <button class="button" data-filter="ium">cookies</button>
    </div>
  <div class="searchFilter">
  </div>
</div>

<div class="menuitems">
  <div class="griditem">
    <div class="menuitem">
      <div class="itemimage" style="background-image: url('https://www.bakingmad.com/app_/responsive/BakingMad/media/content/Recipes/Cupcakes-Muffins/Cupcakes/Mary-Berry-chocolate-cupcake/1-Mary-Berry-chocolate-cupcakes-WEB.jpg?w=1300');"></div>
      <div class="itemdesc">
        <div class="info">
          <h2>Triple Chocolate Temptation</h2>
          <p>Chocolate cake with a dark chocolate cream cheese frosting.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="griditem">
    <div class="menuitem">
      <div class="itemimage" style="background-image: url('http://farm3.static.flickr.com/2616/4053940585_6f590b4750_o.jpg');"></div>
      <div class="itemdesc">
        <div class="info">
          <h2>Peanut Butter Chocolate Blast</h2>
          <p>Chocolate cake with peanut butter buttercream with chopped reese's peanut butter cups on top.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="griditem">
    <div class="menuitem">
      <div class="itemimage" style="background-image: url('https://www.gimmesomeoven.com/wp-content/uploads/2011/02/red-velvet-cupcakes1.jpg');"></div>
      <div class="itemdesc">
        <div class="info">
          <h2>Classic Red Velvet</h2>
          <p>Red velvet cake with cream cheese frosting and mini dark chocolate chips.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="griditem">
    <div class="menuitem">
      <div class="itemimage" style="background-image: url('https://www.justataste.com/wp-content/uploads/2016/02/carrot-cupcakes-cream-cheese-frosting-recipe.jpg');"></div>
      <div class="itemdesc">
        <div class="info">
          <h2>Funny Bunny Carrot Cake</h2>
          <p>Carrot cake with cream cheese frosting.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="griditem">
    <div class="menuitem">
      <div class="itemimage" style="background-image: url('https://www.gimmesomeoven.com/wp-content/uploads/2012/03/cherry-almond-cupcakes1.jpg');"></div>
      <div class="itemdesc">
        <div class="info">
          <h2>Pretty please with a cherry on top</h2>
          <p>Chocolate cake with a dark chocolate cream cheese frosting.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="griditem">
    <div class="menuitem">
      <div class="itemimage" style="background-image: url('http://2.bp.blogspot.com/-lal4Ts3pl28/T335SfqkTuI/AAAAAAAAC3Q/sqQ-L8qjBIc/s1600/DSC_0294-1.jpg');"></div>
      <div class="itemdesc">
        <div class="info">
          <h2>Lemon Buttercream Sugar Cookie</h2>
          <p>Chocolate cake with a dark chocolate cream cheese frosting.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="griditem">
    <div class="menuitem">
      <div class="itemimage" style="background-image: url('https://media.mnn.com/assets/images/2015/10/cut-out-decorated-sugar-cookies.jpg.638x0_q80_crop-smart.jpg');"></div>
      <div class="itemdesc">
        <div class="info">
          <h2>Decorated Sugar Cookie</h2>
          <p>Chocolate cake with a dark chocolate cream cheese frosting.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="griditem">
    <div class="menuitem">
      <div class="itemimage" style="background-image: url('https://www.bakingmad.com/app_/responsive/BakingMad/media/content/Recipes/Cupcakes-Muffins/Cupcakes/Mary-Berry-chocolate-cupcake/1-Mary-Berry-chocolate-cupcakes-WEB.jpg?w=1300');"></div>
      <div class="itemdesc">
        <div class="info">
          <h2>Triple Chocolate Temptation</h2>
          <p>Chocolate cake with a dark chocolate cream cheese frosting.</p>
        </div>
      </div>
    </div>
  </div>

</div>
